body{
    font-family: 'Poppins', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    margin: 0;
}
h1{
    font-size: 50px;
}
h2{
    font-size: 30px;
}
.orange-color{
    color:orange;
}

.Flexible1{
    display: flex;
    background-image: url(images/top-banner.png);
    background-repeat: no-repeat;
}

.half-width{
    width: 50%;
    padding-left: 10px;
    margin-left:100px;
}

.half-width img{
    width: 80%;
    
}

.link-button{
    background-image: linear-gradient(orange, tomato);
    padding: 10px 40px;
    color:white;
    border-radius: 10px;
    text-decoration: none;
    font-weight: 900px;
    font-size: 25px;
    margin-top: 40px;
    
}
 

.Flexible2{
    display: flex;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}

.span2{
    font-weight: bold;
    color:indigo;
}
.Flexible3{
    display: flex;
    background-image: url(images/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
}
.card{
    width:40%;
    margin-left: 5%;
    margin-right: 5%;
    box-shadow: 10px 10px 40px gray;
    padding-left:20px;
    border-radius: 10px;
}
#border-left1{
    border-left: 7px solid;
    border-image: linear-gradient(tomato ,red);
    border-image-slice: 1;
}
#border-left2{
    border-left: 7px solid;
    border-image: linear-gradient(blue, cyan);
    border-image-slice: 1;
}
footer p{
    text-align: center;

    
}
footer{
    margin-top: 100px;
}

